.ng-star-inserted {
    margin: 0 !important;
}

@media (max-width: 767px) {
    .ng-star-inserted>div:nth-child(2) {
        background-color: #fff;
        box-shadow: unset;
    }

    .ng-star-inserted>div:nth-child(2)>div {
        background-color: #eee;
    }

    table {
        display: block;
        overflow-x: scroll;
    }
}

div#search-job {
    padding: 50px 0 30px;
}

customer-site>div:nth-child(3) {
    margin-top: 52px !important;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}